<!doctype html>
<html class="no-js" lang="zxx">
<!-- 아이디 찾기 화면 -->
<% include inc-head %>

<%
var strpass ="비밀번호 찾기"
var strid = '아이디 찾기'
var strreg = '회원가입'
var strlogin = '로그인'
%>

<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">


		<% include inc-header %>


            <!-- Start Bradcaump area -->
            <div class="ht__bradcaump__area bg-image--9">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                            	<h2 class="bradcaump-title"><i class="fas fa-lock fa-2x"></i></h2>
                                <nav class="bradcaump-content">
                                  <span class="brd-separetor">아이디 찾기</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->
		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white">
			<div class="container chswhite">
				<div class="row" style=" justify-content: center; "> 

					<div class="col-lg-6 col-12">
						<div class="my__account__wrapper">
							<h3 class="account__title">아이디 찾기 </h3>
							<form id="findpw">
								<div class="account__form">
									<div class="input__box">
										<label>name <span>*</span></label>
										<input type="text" name="userName">
									</div>
									<div class="input__box">
										<label>tel <span>*</span></label>
										<input type="tel" name="userPhone">
									</div>
								</form>


								<div class="form__btn">

									<button type="button" onclick="sendAjax('/src/userManagement/idFind', $('#findpw')[0])">Find</button>

								</div>


								<div class="mt-5"></div>
								<div class="input__box">
									<label><span>result</span></label>
									<div>

										<input class="result" type="text"  value="result">

											<script>
											function sendAjax(url, form){

												var data = {'userName' : form.userName.value, 'userPhone' : form.userPhone.value};
												// 입력값을 변수에 담고 문자열 형태로 변환
												data = JSON.stringify(data);
												console.log(data)

												// content-type을 설정하고 데이터 송신
												var xhr = new XMLHttpRequest();
												xhr.open('POST', url);
												xhr.setRequestHeader('Content-type', "application/json");
												xhr.send(data);

												// 데이터 수신이 완료되면 표시
												xhr.addEventListener('load', function(){
												var result = JSON.parse(xhr.responseText);
												// 데이터가 없으면 return 반환
												if(result.result !== 'ok') return;
												// 데이터가 있으면 결과값 표시
												document.querySelector(".result").value = result.resultv;
												});
											}
										</script>


										<a class="forget_pass" href="/src/userManagement/login"><%=strlogin%></a>
										<a class="forget_pass" href="/src/userManagement/passFind"><%=strpass%></a>
										<a class="forget_pass" href="/src/userManagement/register"><%=strreg%></a>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!-- End My Account Area -->


		<% include inc-footer %>

	</div>
	<!-- //Main wrapper -->

    <% include inc-script %>

</body>
</html>
