<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= title %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="/css/custom.css">

	<!-- Modernizer js -->
	<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="/js/vendor/jquery-3.2.1.min.js"></script>
	

	<script src="https://kit.fontawesome.com/442fa0184e.js" crossorigin="anonymous"></script>


	<style>
	

	.bg--white{
	/* The image used */
	background-image: url("/images/bgpattern2.png");
	/* background-image: url("/images/zTXo6d5ec.gif"),url("/images/bgpattern2.png"); */
	/* background-image: url("/images/bgpattern2.png"); */
	background-color: #ebebeb;

	/* Add the blur effect */
	/* filter: blur(8px);
	-webkit-filter: blur(8px); */
	/* opacity: 0.5; */
	
	/* Full height */
	height: 120%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	/* background-repeat: no-repeat; */
	background-size: 30%;
 
	}


	.chswhite{
		background: #ffffff;
		padding: 40px 30px;
		border-radius: 8px;
    	border: 1px solid #d3ced2;

	}

	.ht__bradcaump__area{
		height: 220px;
		padding-top: 110px;
	}
	.brd-separetor{
		font-weight: 900;
	}
	</style>

</head>

