<a href='/src/admin/mainPageManagement/name'>쇼핑몰명 변경</a><br>
<a href='/src/admin/mainPageManagement/logo'>로고 변경</a><br>
<a href='/src/admin/mainPageManagement/bg'>배경 변경</a><br>
<a href='/src/admin/mainPageManagement/ad'>광고제품 변경</a><br>
