<!doctype html>
<html class="no-js" lang="zxx">

<% include inc-head %>

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<% include inc-header %>
		
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">My Account</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">My Account</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- End Bradcaump area -->
		

		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white">
				<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 ol-lg-12">
								<form action="#">               
									<div class="table-content wnro__table table-responsive">
										<table>
											<thead>
												<tr class="title-top">
													<th class="product-thumbnail">Alert</th>
													<th class="product-thumbnail">Image</th>
													<th class="product-name">Product</th>
													<th class="product-price">Hope Price</th>
													<th class="product-remove">Current Price</th>
													<th class="product-remove">Remove</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="product-date"><a href="#">on</a></td>
													<td class="product-thumbnail"><a href="#"><img src="images/product/sm-3/1.jpg" alt="product img"></a></td>
													<td class="product-name"><a href="#">Natoque penatibus</a></td>
													<td class="product-price"><span class="amount">$165.00</span></td>
													<td class="product-price"><span class="amount">$185.00</span></td>
													<td class="product-remove"><a href="#">X</a></td>
												</tr>
												<tr>
													<td class="product-date"><a href="#">off</a></td>
													<td class="product-thumbnail"><a href="#"><img src="images/product/sm-3/2.jpg" alt="product img"></a></td>
													<td class="product-name"><a href="#">Quisque fringilla</a></td>
													<td class="product-price"><span class="amount">$50.00</span></td>
													<td class="product-price"><span class="amount">$55.00</span></td>
													<td class="product-remove"><a href="#">X</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</form> 
								<div class="cartbox__btn">
									페이지 넨셜
								</div>
							</div>
						</div>
					</div>
		</section>
		<!-- End My Account Area -->
		
		<% include inc-footer %>
		
		
	</div>
	<!-- //Main wrapper -->
	<% include inc-script %>

	
</body>
</html>